* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #241C1D;
}

.header {
    width: 100%;
    height: 160px;
    background-color: #241C1D;
    align-items: center;
    display: flex;
    justify-content: center
}

.header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #241C1D;
    
}

.header a{
    text-decoration: none;
    color: #F2F4FF;
    font-size: 17px;
    font-weight: 500;
  
}

.header a:hover {
    color: #2682d8;
}
 
.logo{
    height: 167px;
    width: 200px;
}

.nosarticles {
    background-color: rgba(36, 28, 29, 1);
}

.nosarticles h1 {
    color: #F2F4FF;;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
}

.nosarticles h2 {
    color: #F2F4FF;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.nosarticles h3 {
    text-align: center;
    margin-bottom: 15px;
}
.nosarticles p {
    margin-top: 15px;
    text-align: justify;
    width: 300px;
    font-size: 17px;
    font-weight: 400;

}

.rectangle-article-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #F2F4FF;
}

.corps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1300px;
    height: 200px;
}














































* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: #241C1D;
    height: 276px;
    width: 100%;
    display: flex;
    align-items:center;
}

.footer-container {
    margin-left: 100px;
    width: 100%;
    flex-direction: column;
    background-color: #241C1D;
    
}

.footer nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #241C1D

}

.footer a{
    text-decoration: none;
    color: #F2F4FF;
    font-size: 17px;
    font-weight: 500;
    margin-right: 20px;
}

.footer a:hover {
    color: #2682d8;
}

.footer p {
    color: #F2F4FF;
    margin-right: 20px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    background-color: #241C1D;
}

.footer-nav img {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}