
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/apropos.css">
    <title>A propos</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="/categorie1">ARTICLE</a>
            <a href="/categorie2">RAPPORT</a>
            <a href="/categorie3">BLOG</a>
            <a class="logo" href="/accueil"> <img src="/static/image/logo.png"> </a>
            <a href="/collection">COLLECTION</a>
            <a href="/favoris">FAVORIS</a>
        </nav>
    </header>
    <h1>Lien de la maquette </h1>
    <p>.... lien ....</p>
    <h1>Journal de bord </h1>
    <p>deroulé detaillé....</p>
    <a href="/accueil">Retour à l'accueil</a>
    <footer class="footer">
        <div class="footer-container">
         <a class="logo" href="/accueil"> <img src="/static/image/logo.png">  </a>
         <div class="footer-nav">
             <nav>
                <a href="/categorie1">ARTICLE</a>
                <a href="/categorie2">RAPPORT</a>
                <a href="/categorie3">BLOG</a>
         </nav>
         <nav class="footer-link">
            <a href="/apropos">À-PROPOS</a>
     </nav>
         </div>
     </div>
     </footer>
</body>
</html>
