<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Rapports</title>
</head>
<body>
    <h1>Rapports</h1>
    {{range .}}
    <div>
        <!-- Lien cliquable pour le titre dirigeant vers les détails de la ressource -->
        <h2><a href="/ressource?id={{.ID}}">{{.Title}}</a></h2>
        <img src="{{.ImageURL}}" alt="Report Image" style="width:200px;">
        <p>{{.Summary}}</p>
        <a href="{{.URL}}">Lire plus</a>
        <p>Publié le : {{.PublishedAt}}</p>
    </div>
    {{end}}
</body>
</html>
