<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/collection.css">
    <title>Collection</title>
</head>

<body>
    <header class="header">
        <nav>
            <a href="/categorie1">ARTICLE</a>
            <a href="/categorie2">RAPPORT</a>
            <a href="/categorie3">BLOG</a>
            <a class="logo" href="/accueil"> <img src="/static/image/logo.png"> </a>
            <a href="/collection">COLLECTION</a>
            <a href="/favoris">FAVORIS</a>
        </nav>
    </header>

    <form action="/recherche" method="get">
        <input type="text" name="q" placeholder="Rechercher..." required>
        <button type="submit">Rechercher</button>
    </form>

    <section>
        <h1>Articles</h1>
        {{range .Articles}}
        <div>
            <h2><a href="/ressource?type=articles&id={{.ID}}">{{.Title}}</a></h2>
            <img src="{{.ImageURL}}" alt="Article Image" style="width:200px;">
            <p>{{.Summary}}</p>
            <a href="{{.URL}}">Lire plus</a>
            <p>Publié le : {{.PublishedAt}}</p>
            <form action="/add-to-favorites" method="post">
                <input type="hidden" name="resourceID" value="{{.ID}}">
                <button type="submit">Ajouter aux favoris</button>
            </form>
        </div>
        {{end}}
    </section>

    <section>
        <h1>Reports</h1>
        {{range .Reports}}
        <div>
            <h2><a href="/ressource?type=reports&id={{.ID}}">{{.Title}}</a></h2>
            <img src="{{.ImageURL}}" alt="Article Image" style="width:200px;">
            <p>{{.Summary}}</p>
            <a href="{{.URL}}">Lire plus</a>
            <p>Publié le : {{.PublishedAt}}</p>
            <form action="/add-to-favorites" method="post">
                <input type="hidden" name="resourceID" value="{{.ID}}">
                <button type="submit">Ajouter aux favoris</button>
            </form>
        </div>
        {{end}}
    </section>

    <section>
        <h1>Blogs</h1>
        {{range .Blogs}}
        <div>
            <h2><a href="/ressource?type=blogs&id={{.ID}}">{{.Title}}</a></h2>
            <img src="{{.ImageURL}}" alt="Article Image" style="width:200px;">
            <p>{{.Summary}}</p>
            <a href="{{.URL}}">Lire plus</a>
            <p>Publié le : {{.PublishedAt}}</p>
            <form action="/add-to-favorites" method="post">
                <input type="hidden" name="resourceID" value="{{.ID}}">
                <button type="submit">Ajouter aux favoris</button>
            </form>
        </div>
        {{end}}
    </section>
    <footer class="footer">
        <div class="footer-container">
         <a class="logo" href="/accueil"> <img src="/static/image/logo.png">  </a>
         <div class="footer-nav">
             <nav>
                <a href="/categorie1">ARTICLE</a>
                <a href="/categorie2">RAPPORT</a>
                <a href="/categorie3">BLOG</a>
         </nav>
         <nav class="footer-link">
            <a href="/apropos">À-PROPOS</a>
     </nav>
         </div>
     </div>
     </footer>
</body>

</html>